/* MAIN BODY  */
body {
background: #9b7908;
display: flex;
justify-content: left; 
align-items: center;
min-height: 100vh;
}
/* FOR THE CALCULATOR CARD */
.calculator-card {
background: #000000; /* this will select the background of the card  */
padding: 2rem;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;width: 100%; /* this is for the shadow of the box  */
max-width: 600px;
text-align: center;
}
/* FOR HEADING1 'AGE CALCULATOR */
h1 {
color: #ffffff;
margin-bottom: 0.5rem;
}
.subtitle {
color: #666;
font-size: 0.9rem;
margin-bottom: 1.5rem;
}
/* FOR THE LABEL ENTER DATE OF BIRTH */
.input-group {
text-align: left;
margin-bottom: 1.5rem;
}
label {
display: block;
margin-bottom: 0.5rem;
font-weight: 600;
color: #ffffff;
}
input[type="date"] {
width: 100%;
padding: 12px;
border: 2px solid #ddd;
border-radius: 8px;
font-size: 1rem;
outline: none;
}
input[type="date"]:focus {
border-color: #099885;
}
button {
width: 100%;
padding: 12px;
background-color: #007bff;
color: white;
border: none;
border-radius: 8px;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}
button:hover {
background-color: #0056b3;
}
#result-box {
margin-top: 2rem;
padding: 1.5rem;
background: #f8f9fa;
border-radius: 10px;
border: 1px solid #eee;
}
#age-output {
font-size: 2.5rem;
font-weight: 800;
color: #007bff;
margin: 10px 0;
}
.hidden {
display: none;
}
#personal-note {
margin-top: 15px;
font-size: 0.85rem;
padding: 8px;
border-radius: 5px;
display: none;
}
footer {
margin-top: 2rem;
font-size: 0.75rem;
color: #aaa;
}
.name{
text-align: left;
margin-bottom: 1.5rem;
}
.name h1{
    -ms-text-size-adjust: ;
}
/* RIGHT BLUE SHAPE  */
.right-blue-shape{
    position: fixed;
    padding-left: 50px;
    top: 50%;
    right: -180px;
    transform: translateY(-50%);
    width: 900px;
    height: 1000px;
    background: #5f8dff;
    border-radius: 300px 0 0 300px;
    z-index: -1;
}
/* for the paragaraph in the blue shape  */
#para{
    position: absolute;
    top: 40%;
    right: 170px;
    transform: translateY(-50%);
}
#para h4{
    font-size: 56px;
    color: #ffffff;
    font-weight: 600;
}
/* for emoji in the blue box paragraph */
#emoji{
    position: absolute;
    top: 40%;
    right: 250px;
    padding: 50px 0px;
    font-size: 200px;
}